* {
  font-family: "Cabin", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  margin-top: 64px;

  p {
    margin-top: 24px;
    font-size: 10px;
    color: #458c08;
  }
}

main {
  padding: 48px;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    .card {
      height: 312px;
      width: 304px;
      border: solid rgb(238, 238, 238);
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      p {
        font-size: small;
        color: #999999;
        line-height: 24px;
        margin-left: 12px;
        margin-left: 12px;
      }

      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }

      .about {
        p {
          font-size: 10px;
          color: #999999;
          line-height: 24px;
        }

        .house-title {
          color: rgb(109, 109, 109);
          font-weight: 600;
        }

        h3 {
          margin-left: 12px;
        }
      }

      .line {
        border-top: 1px solid #e5e7eb;
      }

      .title {
        h4 {
          font-size: 8px;
          color: #999999;
          line-height: 30px;
          font-weight: 500px;
          margin-left: 10px;
        }
      }

      .realtor-info {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 10px;
        font-size: 11px;
        color: #999999;
        line-height: 12px;

        .realtor-text {
          h3 {
            color: black;
          }

          p {
            margin-left: 0px;
          }
        }
      }
      .realtor-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}